<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fotAwesome/all.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fotAwesome/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fotAwesome/all.css') }}">
        <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap/bootstrap.js') }}"></script>
        <script src="{{ asset('js/fontawesome/fontawesome.js') }}"></script>
        <script src="{{ asset('js/bootstrap/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('js/fontawesome/all.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
