{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-light shadow-sm">
        <div class="container">
            <a href="http://camaralinares.es/" class="navbar-brand">
                <!-- Logo Image -->
                <img src="{{ asset('img/Logo_Amarillo_Camara_Linares.png') }}" width="200px" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
            </a>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="bg-danger navbar-toggler"><span class="navbar-toggler-icon"></span></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item active"><a href="{{ path('alta_fichar') }}" class="nav-link text-danger">Inicio<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="{{ path('accesos_listar') }}" class="nav-link text-danger">Accesos</a></li>
                    <li class="nav-item"><a href="{{ path('administracion_menu') }}" class="nav-link text-danger">Administración</a></li>
                    {% endif %}
                    {%  if app.user %}
                         <li ><a  href="{{ path('usuario_salir') }}" class="btn btn-danger text-light">Salir</a></li>
                    {% else %}
                        <li ><a href="{{ path('usuario_entrar') }}" class="btn btn-danger text-light">Entrar</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-5 mb-auto">
        {% for mensaje in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        {% endfor %}
        {% for mensaje in app.session.flashBag.get('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}

{% endblock %}