{% extends 'portada.html.twig' %}

{% block content %}

{{ form_start(form) }}
    <p class="mt-5 mb-5 text-danger text-right mr-3">Inserte su DNI en el cuadro de texto y a continuación pulse el botón correspondiente (Verde marca la entrada y Rojo la salida)</p>
{{ form_widget(form) }}


    <h2 class="text-center text-danger mt-5">
        Turno Mañana
    </h2>
    <p class="mb-5 text-center mt-2">
        <button type="submit" id="btMananaEntrada" name="mananaEntrada" class="btn mt-5"><img src="{{ asset('img/entrada_verde.png') }}" alt=""></button>
        <button type="submit" id="btMananaSalida" name="mananaSalida" class="btn mt-5" ><img src="{{ asset('img/salida.png') }}" alt=""></button>
    </p>


    <h2 class="text-center text-danger mt-5">
        Turno Tarde
    </h2>
    <p class="text-center mt-2">
        <button type="submit" id="btTardeEntrada" name="tardeEntrada" class="btn mt-5"><img src="{{ asset('img/entrada_verde.png') }}" alt=""></button>
        <button type="submit" id="btTardeSalida" name="tardeSalida" class="btn  mt-5"><img src="{{ asset('img/salida.png') }}" alt=""></button>
    </p>

{{ form_end(form) }}

{% endblock %}

{% block title %}
    Fichar
{% endblock %}