{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1 class="text-danger text-center">Listado de Accesos</h1>

    <table class=" table table-bordered table-striped text-center mb-5 mt-5">
        <thead class="bg-danger text-light">
            <tr>
                <td>Empleado</td>
                <td>Fecha</td>
                <td>Entrada (Mañana)</td>
                <td>Salida (Mañana)</td>
                <td>Entrada (Tarde)</td>
                <td>Salida (Tarde)</td>
                <td>Total (horas)</td>
            </tr>
        </thead>
        <tbody>
            {% for acceso in paginador.currentPageResults  %}
                <tr>
                    <td>{{ acceso.empleado }}</td>
                    <td>{{ acceso.fecha|date('d-m-Y') }}</td>
                    <td{% if not acceso.horaEntrada %} class="bg-warning"{% endif %}>{% if not acceso.horaEntrada %}--------{% else %}{{ acceso.horaEntrada|date('H:i:s')}}{% endif %}</td>
                    <td{% if not acceso.horaSalida %} class="bg-warning"{% endif %}>{% if not acceso.horaSalida %}--------{% else %}{{ acceso.horaSalida|date('H:i:s')}}{% endif %}</td>
                    <td{% if not acceso.horaEntradaTarde %} class="bg-warning"{% endif %}>{% if not acceso.horaEntradaTarde %}--------{% else %}{{ acceso.horaEntradaTarde|date('H:i:s')}}{% endif %}</td>
                    <td{% if not acceso.horaSalidaTarde %} class="bg-warning"{% endif %}>{% if not acceso.horaSalidaTarde %}--------{% else %}{{ acceso.horaSalidaTarde|date('H:i:s')}}{% endif %}</td>
                    {% if acceso.horaSalidaTarde %}
                        {% set horas =   acceso.horaSalida|date_modify('-' ~ acceso.horaEntrada|date('H') ~ 'hour')|date('H')   %}
                        {% set horas2 =   acceso.horaSalidaTarde|date_modify('-' ~ acceso.horaEntradaTarde|date('H') ~ 'hour')|date('H') %}
                        <td>{{ horas + horas2 }} Horas</td>
                        {% else %}
                            {% if acceso.horaSalida %}
                                <td>{{ acceso.horaSalida|date_modify('-' ~ acceso.horaEntrada|date('H') ~ 'hour')|date('H') }} Horas</td>
                                {% else %}
                                <td>-----</td>
                    {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}


{% block title %}

    Listado de Accesos

{% endblock %}
